.button-main {
	border-radius: 5px;
	padding: 13px;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	color: var(--color-alternate);
	background-color: var(--color-accent);
	transition: background-color .3s;

	@media (hover: hover) {
		&:hover,
		&:focus {
			background-color: var(--color-accent-hover);
		}

		&:active {
			background-color: var(--color-accent-active);
		}
	}

	@media (hover: none) {
		&:active {
			background-color: var(--color-accent-hover);
		}
	}
}
