extends layout/layout
block const
	- const isHomePage = true;
block meta
	title Отзывы о товаре
	meta(name="description" content="отзывы, товары")
block content
	include includes/reviews
block prepend page-bottom
