:root {
	--color-main: #464646;
	--color-alternate: #fff;
	--color-second: #1a1a1a;
	--color-caption: #b1b1b1;
	--color-answer-background: #f6f6f6;
	--color-accent: #0d78ff;
	--color-accent-hover: #0b68dd;
	--color-accent-active: #0358c3;
	--color-upload-background: #e6f3fd;
	--color-form-background: #f0f0f0;
	--color-stroke: #eff3f5;
	--color-stroke-2: #e4e2e2;
	--color-star: #ffb648;
	--color-error: #ea2828;
	--color-input: #dadce0;
}
